Repository pysat/pysatNASA, pull requests merged in 2022-07, with the labels that each got.

#110 BUG: GOLD metadata
  CHANGELOG.md
  README.md
  docs/installation.rst
  pysatNASA/instruments/methods/cdaweb.py
  pysatNASA/instruments/ses14_gold.py
  requirements.txt
Labels: bug

#85 MAINT: use full inheritance in tests
  CHANGELOG.md
  pysatNASA/instruments/icon_euv.py
  pysatNASA/instruments/icon_fuv.py
  pysatNASA/instruments/icon_ivm.py
  pysatNASA/instruments/icon_mighti.py
  pysatNASA/tests/test_instruments.py
Labels: style

#100 ENH: Updates ICON code to remove warnings during load.
  CHANGELOG.md
  pysatNASA/instruments/icon_euv.py
  pysatNASA/instruments/icon_fuv.py
  pysatNASA/instruments/icon_ivm.py
  pysatNASA/instruments/icon_mighti.py
Labels: waiting for next pysat version

#120 xarray for roti
  CHANGELOG.md
  README.md
  docs/installation.rst
  pysatNASA/constellations/__init__.py
  pysatNASA/instruments/cnofs_ivm.py
  pysatNASA/instruments/cnofs_plp.py
  pysatNASA/instruments/cnofs_vefi.py
  pysatNASA/instruments/de2_lang.py
  pysatNASA/instruments/de2_nacs.py
  pysatNASA/instruments/de2_rpa.py
  pysatNASA/instruments/de2_wats.py
  pysatNASA/instruments/formosat1_ivm.py
  pysatNASA/instruments/icon_euv.py
  pysatNASA/instruments/icon_fuv.py
  pysatNASA/instruments/icon_ivm.py
  pysatNASA/instruments/icon_mighti.py
  pysatNASA/instruments/iss_fpmu.py
  pysatNASA/instruments/jpl_gps.py
  pysatNASA/instruments/methods/__init__.py
  pysatNASA/instruments/methods/_cdf.py
  pysatNASA/instruments/methods/cdaweb.py
  pysatNASA/instruments/methods/general.py
  pysatNASA/instruments/methods/gps.py
  pysatNASA/instruments/omni_hro.py
  pysatNASA/instruments/ses14_gold.py
  pysatNASA/instruments/templates/template_cdaweb_instrument.py
  pysatNASA/instruments/timed_saber.py
  pysatNASA/instruments/timed_see.py
  pysatNASA/tests/test_instruments.py
  pysatNASA/version.txt
  requirements.txt
Labels: waiting for next pysat version
